@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  background-color: rgb(189, 187, 153);
  color: rgb(189, 187, 153);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  position: relative;
  z-index: 2;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 20px auto 5px auto;
  font-size: 0.8em;
  color: #fff;
  
  
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
